.sidebarHeader {
    font-weight: bold;
    text-decoration: underline;
}

.grayText {
    opacity: 50%;
}

.skySwitch:checked {
    background: none;
    box-shadow: none;
}

window {
    border-radius: 0;
}

placeholder {
    color: gray;
}

.command {
    font-family: monospace;
}
